@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://i1.pickpik.com/photos/565/22/487/milky-way-starry-sky-night-sky-star-preview.jpg");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: white;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}





